# MyRules
# > Sync

host-keyword, steam, 香港节点
host, dockerstatic.com, 全球加速
host, www.hddolby.com, 全球加速
host, ehgt.org, 美国节点
host, forums.e-hentai.org, 美国节点
host, exhentai.org, 美国节点
host, e-hentai.org, 美国节点
host, binanceseamg.dataplane.rudderstack.com, 全球加速
host, static.binance.us, 全球加速
host, www.binance.us, 全球加速
host, app-measurement.com, 全球加速
-host, auth0.openai.com, 日本节点
-host, ios.chat.openai.com, 日本节点
-host, ab.chatgpt.com, 日本节点
